body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #add8e6;
}

.form-container {
  background: #d7ecff;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #a3c7e9;
}

h2 {
  background: #4a9cff;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  margin-top: 0;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input[type="file"] {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
